.completed{
    opacity: 0.4;
    text-decoration-line: line-through;
}
.fall{
    opacity: 0;
    transform: translateY(10rem) rotateZ(90deg);
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.main{
    background-color: #FBD38D;
}
h1{
    padding: 1.5rem;
    text-align: center;
}

.list{
   padding-top: 4rem; 
   justify-content: center;
}
p{
    text-transform:capitalize;
    
}
